extends layout

block content
  h2 #{title}
  h3 #{message}
  p What IT leaders want from an IT services provider is simple: no nonsense guidance and support to get work done faster, cheaper and more accurately, as the marketplace evolves and the stakes rise. They seek a partner that understands them and will get in the trenches to get the job done, the way that works best for them. We help you achieve your business targets by addressing critical gaps in your workforce, your projects and your work functions. Our services include IT staffing solutions to complement in-house skills and capabilities, strategic guidance on IT human capital management, and proven IT services designed with real-world insight into what works best in IT. Like a true business partner, we meet you where you are and take you where you want to go, the way you want to get there. Through our scalable delivery models we address the precise level of responsibility you want us to assume, ranging from staff augmentation through full outsourcing. We can also help you define and mature how and where work gets done.