extends layout

block content
  h2 #{title}
  h3 #{message}
  address
    | 244 Fifth Avenue
    br
    | Suite G294
    br
    | New York, NY 10001
    br
    abbr(title='Phone') P: 
    | 646.801.2044

  address
    strong Support: 
    a(href='mailto:ecollazo@consultant.com') ecollazo@consultant.com
