extends layout

block content
  .jumbotron
    h1 SpinWave Trading Desk
    p.lead A MEAN stack based trading floor application.
    p This application is a proof-of-concept regarding the use of a purely MEAN stack solution (including Socket.io) which is a mockup of a common securities trading support application used by financial institutions worldwide.
    p
      a.btn.btn-primary.btn-large(href='http://www.sitepoint.com/introduction-mean-stack/', target="_blank") Learn more &raquo;
  .row
    .col-md-6
      h2 Research
      p Lookup stock symbols and add them to a blotter to track real-time and historical performance.
      p
        a.btn.btn-default(href='/research') Learn more &raquo;
    .col-md-6
      h2 Order Management System
      p Trade securities and track P&L.
      p
        a.btn.btn-default(href='/oms') Learn more &raquo;
  .row
    .col-md-6
      h2 About Us
      p A mission statement from SpinWave Solutions.
      p
        a.btn.btn-default(href='/about') Learn more &raquo;
    .col-md-6
      h2 Contact Us
      p Our contact info.
      p
        a.btn.btn-default(href='/contact') Learn more &raquo;
