extends layout

block content
  h2 #{title}

  panel.panel-default
    .panel-heading 
        h3 #{message}
    .panel-body
        p Enter your trades in the grid below.
  table.table
    thead
        tr
            th Symbol
            th Strike Price
            th Position
            th Market Price
            th Market Value
            th Action
    tbody
        tr
            td AAPL
            td $505.04
            td 0
            td $0.00
            td $0.00
            td
                #Trade.input-group
                    input.form-control(placeholder="Enter # of shares...", type="text")
                    #Action.input-group-btn
                    button.btn.btn-small.btn-success(type="button") Buy
                    button.btn.btn-small.btn-danger(type="button") Sell
