extends layout

block content
  h2 #{title}
    h3 #{message}
    p Enter stocks to research below....
    div(ng-app="oms", ng-controller="symbol-controller")
        #Research.input-group
            input.form-control(placeholder="Enter stock symbol...", type="text", ng-model="newSymbol")
            #Action.input-group-btn
            button.btn.btn-sm.btn-success(type="button", ng-click="symbolLookUp()") Add To Grid
        p
        div.panel-group(id="accordian")
            div.panel.panel-default(ng-repeat="symbol in symbols | orderBy:'symbol'", ng-class="[{'panel-success': symbol.delta > 0}, {'panel-danger': symbol.delta < 0}]")
                div.panel-heading
                    h3.panel-title 
                        a(data-toggle="collapse", data-parent="#accordian", href="#collapse"+"{{symbol.symbol}}", , ng-click="togglePanel($event, symbol.symbol)")
                            {{symbol.symbol}} : {{symbol.name}}  @ ${{symbol.price}} ({{symbol.delta}})
                div.panel-collapse.collapse(id="collapse"+"{{symbol.symbol}}", data-symbol="{{symbol.symbol}}")
                    div.panel-body
                        table.table
                            th(align="right") Price
                            th(align="right") Δ
                            th(align="right") Δ%
                            th(align="right") Market Cap
                            th(align="right") Volume
                            th H/L/O
                            th Timestamp
                            th Action
                            tr
                                td(align="right") {{symbol.price}}
                                td(align="right") {{symbol.delta}}
                                td(align="right") {{symbol.deltap}}
                                td(align="right") {{symbol.marketCap}}
                                td(align="right") {{symbol.volume}}
                                td {{symbol.hlc}}
                                td 
                                    span.form-control-static {{symbol.timestamp}}
                                td
                                    button.btn.btn-sm.btn-danger(type="button", ng-click="removeSymbol(symbol.symbol)") Remove

          div.modal.fade(id="lookUpModal", tabindex=-1, role="dialog", aria-labelledby="lookUpModalLabel")
              div.modal-dialog.modal-sm(role="document")
                  div.modal-content
                      div.modal-header
                          button.close(type="button", data-dismiss="modal", aria-label="Close") 
                              span(aria-hidden="true") &times;
                          div.modal-title(id="lookUpModalLabel")
                              h4 Add Stock
                      div.modal-body
                        div.list-group
                            div.list-group-item(ng-repeat="lookUp in lookUps | orderBy:'Symbol'", ng-click="$parent.selected = lookUp", ng-class="{active:selected==lookUp}")
                                h4.list-group-item-heading 
                                    {{lookUp.Symbol}} 
                                p.list-group-item-text 
                                    {{lookUp.Name}} ({{lookUp.Exchange}})
                      div.modal-footer
                        button.btn.btn-sm.btn-primary(type="button", ng-click="addSymbol(selected.Symbol)") Add

block body_end
    script(type='text/javascript' src='/js/chart.js')
    script(type='text/javascript' src='/js/research.js')
    script.
        $(function(){ 
            var sym = $.url().param('symbol') || 'AAPL'; 
            var dur = $.url().param('duration') || 3650; 
            new Markit.InteractiveChartApi(sym, dur); 
        });

